DATABASE_URL="postgresql://nova_user:password@localhost:5432/nova?schema=public"
RESEND_API_KEY="your_resend_api_key_here" # Required for sending real emails
ADMIN_EMAIL=admin@nova.test
ADMIN_PASSWORD=ThisIsAMockPassword123
EMAIL_SENDER=noreply@nova.test
